APP_URL=http://localhost:8500
APP_ENV=prod
APP_DEBUG=0
PHP_MEMORY_LIMIT=512M

DATABASE_HOST=db
DATABASE_PORT=3306
DATABASE_USER=shopware
DATABASE_PASSWORD=shopware
DATABASE_NAME=shopware

ADMIN_EMAIL=example@example.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=shopware
ADMIN_FIRSTNAME=Demo
ADMIN_LASTNAME=Admin

SHOP_EMAIL=example@example.com

SHOP_LOCALE=en-GB
SHOP_CURRENCY=EUR
SHOP_NAME="Demo Store"
